<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
  <title>MIDDNIGHT - About</title>
  <style>
    body {
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100vh;
      border: none;
    }
  </style>
</head>

<body data-bs-theme="dark">
	<!-- navbar -->
    <%- include('partials/navbar') %>

	<!-- container -->
  <iframe src="https://pathompong-borntodev-febc-homeworks.netlify.app"></iframe>

	<!-- footer -->
    <%- include('partials/footer') %>

</body>

</html>