.card-img-div {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

input[type="radio"]:checked {
    background-color: orange;
    border-color: orange;
}

/* sm responsive */
@media (max-width: 576px) {
    .card-img-div {
        width: auto;
        height: auto;
    }
}