.card-img-div {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

input[type="radio"]:checked {
    background-color: orange;
    border-color: orange;
}

.magnify {
    scale: 1;
    transition: 0.3s;
}

.magnify:hover {
    scale: 1.03;
}

/* xs responsive */
@media (max-width: 576px) {
    .card-img-div {
        width: auto;
        height: auto;
    }
    .magnify:hover {
        scale: 1;
    }
}